/*

// creates a breakpoint with a min-width and max-width
@include media-breakpoint-between(sm, md) {} 

// creates a breakpoint with a min-width of $sm
@include media-breakpoint-up(sm) {} 

//creates a breakpoint with a max-width of $md
@include media-breakpoint-down(md) {} 

*/

// featured blog entries block
.intro-container {
	p {
    	font-size: rem-calc(20);
    	line-height: rem-calc(40);
    	// color: $light; OR even better, specify color as css class name in html .text-light using bootstrap
		@include media-breakpoint-down(md) {
			font-size: rem-calc(12);
		} 
		@include media-breakpoint-down(sm) {
			font-size: rem-calc(10);
			font-weight: normal;
		} 
		@include media-breakpoint-up(md800) {
			text-decoration: underline;
		}
	}
}







