@import "bootstrap";

@import "fontawesome.scss";
@import "solid.scss";
@import "brands.scss";

/*!
 * main.scss
 */

body {
  background-color: #EEEEEE;
  background-color: lightgreen;
}

.custom-css{
  display: block;
}

